<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>DESIGN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login_admin.css' %}">

</head>
<body ></body>
	{%  include 'ourproject/navbar_customer.html' %}
<br>

<div class="row">
   <div class="col-md">
      <div class="card card-body">
         <h5>our products</h5>
      </div>
      <div class="card card-body">
         <table class="table">
            <tr>
               <th>Product</th>
                <th>Bar code</th>
                <th>Price</th>
               <th>Category</th>
                <th>description</th>
                <th>add to cart</th>
            </tr>
           {% for i in products %}
                          <tr>
                              <td>{{i.name}}</td>
                              <td>{{ i.bar_code }}</td>
                              <td>{{ i.price }}</td>
                              <td>{{ i.category }}</td>
                              <td>{{ i.description }}</td>
                              <td> <a class="btn btn-outline-info"style="width: 150px;height: 30px;background: #383838; color: white;border-block-color: black" href="{% url 'add_to_cart' i.bar_code user.username %} "> + </a></td>
                          </tr>
                      {% endfor %}
         </table>

      </div>
   </div>
           <div style="margin-left: 580px">
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>